.pt-8 {
  padding-top: 8rem;
}
.bg-birdong {
  background-color: #19376d;
}
.bg-kun {
  background-color: #ffd93d;
}
.text-kun {
  color: #ffd93d;
}
.text-birdong {
  color: #19376d;
}
body {
  min-height: 2000px;
}
.pt-6 {
  padding-top: 6rem;
}
a {
  text-decoration: none;
}
